
body, html {
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
} 


header #logo {
    display: flex;
  
}

header nav {
    
      flex: 0 0 80%;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;    
  justify-content: space-around;
}

header a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  padding: 1px 10px;
  display: block;
  
}

header a:hover {
  color: rgba(255,247,0,1.00);
}


#sec_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10%;
}
#sec_main .col {
  flex: 0 0 50%;
  padding: 2%;
  box-sizing: border-box;
}
#sec1_index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 10%;
}
#sec1_index article {
  max-width: 350px;
  box-sizing: border-box;
  margin: 1%;
  padding: 15% 2%;
  color: #fff;
  text-align: center;
}
#sec1_index #ar1_index {
  background-image: url(../img/servicios/card-1.jpg);
  background-position: center;
  background-size: cover;
}
#sec1_index #ar2_index {
  background-image: url(../img/servicios/card-2.jpg);
  background-position: center;
  background-size: cover;
}
#sec1_index #ar3_index {
  background-image: url(../img/servicios/card-3.jpg);
  background-position: center;
  background-size: cover;
}
#sec1_index article h2 {
  font-size: 30px;
  line-height: 36px;
}
#sec1_index article p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}
.article-caption {
  background-color: rgb(0 0 0 / 65%);
  box-sizing: border-box;
  padding: 2%;
}
iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: initial;
}

footer {
  background: #000000;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  color: #fff;
}

footer h2 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  line-height: 31px;
}

footer hr {
  width: 10%;
  background-color: rgba(255,247,0,1.00);
}

footer p {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
